*{
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: inherit;
	background-color: lightblue;
}

a {
	text-decoration: none;
	color:cyan;
}

a:hover {
	text-decoration: none;
	color:darkgrey;
}

#titlehead {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: darkorange;
}

.ProjectBox {
	border: 1px solid black;
}

.content {
	/*vertical-align: top;*/
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	/*padding: 5px;*/
}
