---
import HeaderLink from "./HeaderLink.astro";
---

<div class="navbar bg-base-100">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <a class="text-xl" href="/">Binam Kayastha</a>
  </div>
  <div class="navbar-end"></div>
</div>
<style>
  .underline {
    text-decoration: underline;
  }
  .navbar-start {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }
  .navbar-center {
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.04em;
  }
  .navbar-end {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }
</style>
