<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Binam's Projects</title>

        <!-- CSS  -->
        <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>

        <nav>
            <div class="nav-wrapper indigo">
                <div class="col 12">
                    <a href="#" class="brand-logo center">Binam's Projects</a>
                </div>
            </div>
        </nav>

        <div class="container" ng-controller="AppCtrl">
            <!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->

            <div class="row">
                <div class="col s1 aligned-block"></div>
                <div class="col s3 aligned-block" id="awesome-pic"><img src="headshot-transparent-small.png"></div>
                <div class="col s1 aligned-block"></div>
                <div class="col s6 aligned-block" style="margin-top: 15px">
                    <div class="row"> <!-- Todo: Change this to ng-repeat-->
                        <div class="aligned-block">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
                            </svg>
                        </div>
                        <div class="aligned-block button-pad">
                            <a class="waves-effect waves-light btn button-pad" href="https://www.linkedin.com/in/binamkayastha">
                                Linked In
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="aligned-block">
                            <svg style="width:24px;height:24px;" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
                            </svg>
                        </div>
                        <div class="aligned-block button-pad">
                            <a class="waves-effect waves-light btn" href="https://github.com/binamkayastha">
                                Github
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="aligned-block">
                            <svg style="width:24px;height:24px;" viewBox="0 0 24 24">
                                <path fill="#000000" d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M15,18V16H6V18H15M18,14V12H6V14H18Z" />
                            </svg>
                        </div>
                        <div class="aligned-block button-pad">
                            <a class="waves-effect waves-light btn button-pad" style="height:auto" href="resume.pdf">
                                Resume
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col s1 aligned-block"></div>
            </div>


            <div class="flexbox indigo lighten-3">
                <div class="stream col" ng-repeat="stream in projectList">
                    <h5>{{stream.name}}</h5>
                    <div class="card indigo" ng-repeat="project in stream.list">
                        <div class="card-content white-text">
                            <span class="card-title">{{project.title}}</span>
                            <p class="grey-text text-lighten-1">{{project.description}}</p>
                        </div>
                        <div class="card-action indigo" ng-if="project.linkName != null">
                            <a href={{project.link}}>{{project.linkName}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer indigo">
            <div class="container">
                <div class="row indigo">
                    <div class="col l6 s12">
                        <h5 class="white-text">Website under progress</h5>
                        <p class="grey-text text-lighten-4">More changes shall be added shortly.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright indigo darken-1">
                <div class="container">
                    Chrisbin Coorperations
                    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="controllers/controller.js">

        </script>
    </body>
</html>
