<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Binam's Projects</title>

    <!-- CSS  -->
    <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body class="indigo darken-3">
    <div class="container" ng-controller="AppCtrl">
      <!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
      <div class="row">
        <div class="col s1"></div>
        <div class="col s3" id="awesome-pic">v<b>Hover over my face</b>v<img src="headshot.jpg"></div>
        <div class="col s6"><h3 class="center">Binam's Projects</h3></div>
        <div class="col s1"></div>
      </div>


      <div class="flexbox">
        <div class="stream grey darken-1 col" ng-repeat="stream in projectList">
          <h5>{{stream.name}}</h5>
          <div class="card blue" ng-repeat="project in stream.list">
            <div class="card-content white-text">
              <span class="card-title">{{project.title}}</span>
              <p>{{project.description}}</p>
            </div>
            <div class="card-action blue darken-2" ng-if="project.linkName != null">
              <a href={{project.link}}>{{project.linkName}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="controllers/controller.js">

    </script>
  </body>
</html>
